.todolist {
  margin: 1em auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  background-color: antiquewhite;
}
 .todolist > h1 {
  width: 65%;
  margin: .5em auto;
  margin-left: 5em;
  margin-bottom: 1em;
 }
 #add-btn, #remove-btn{
  border-radius: 6px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 
#inputtext {
  border: 2px solid rgb(99, 99, 109);
  border-radius: 6px;
  padding-left: .5em;
  padding: .1em .5em;
  background-color: aliceblue;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#notes {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  margin: 1em auto;
  width: 90%;
}
.abc {
  margin: 0 auto;
  width: 90%;
}
.myitems {
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
  width: 50%;
  color: rgb(71, 97, 74);
  list-style: square;
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}





/* The container */
.container {
  /* display: flex; */
  position: relative;
  /* padding-left: 35px; */
  margin-top: 8px;
  margin-bottom: 30px;
  margin-left: 2em;
  cursor: pointer;
  font-size: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  justify-content: center;
}

/* Hide the browser's default checkbox */
.container input {

  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* =============== checkbox ===================== */
/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #d4c5c5;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* =================================================== */